body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    height: 90px;
    width: 290px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 28px;
    transition: all 3s ease-in-out 1s;
}

button:hover {
    background-color: green;
    color: pink;
    width: 600px;
}